﻿@{
    ViewBag.Title = "Home Page";
}


@*<a href="/home/archive/20121212">/home/archive/20121212 (valid date)</a><br />
<a href="/home/archive/blah">/home/archive/blah</a><br />

<a href="/home/search/string">/home/search/string</a><br />
<a href="/home/search">/home/search</a><br />
<a href="/home/search/123">/home/search/123</a><br />
<a href="/home/search/321">/home/search/321</a><br />

<hr /> <br />
@Html.RouteLink(" to About", new { controller = "home", action = "about" }) <br />
@Html.RouteLink(" to Contact", new { controller = "home", action = "contact", id = 123 }) <br />
@Html.RouteLink(" to Search", "search2", new { val = 123 }) <br />*@
