﻿@{
    ViewBag.Title = "Killingen Web";
}

@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}

<div id="bilde">
    @{  
        var img = new WebCam.Controllers.imageData("/snapshots/snapshot.jpg", "Nordskjæret");
        Html.RenderPartial("_UpdatedPicture", img);
    }
</div>

<div id="oppdatert_snapshot">
    @Ajax.ActionLink("Klikk for å oppdatere", 
        "OppdaterBilde", 
        null,
        new AjaxOptions
        {
            UpdateTargetId = "bilde",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "GET"
        },
        new { @class = "btn btn-primary" })
</div>

