﻿@{
  ViewBag.Title = "This is my personal blog!";
}
<h2>
  This is my personal blog!</h2>
<a href="/blog/archive/20121212">/blog/archive/20121212 (valid date)</a><br />
<a href="/blog/archive/blah">/blog/archive/blah</a> 